<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <form>
        <h2>User info</h2>
        <%= form_with model: @user, local:true do |f| %>
          <%= f.label :name, "Name" %></br>
          <%= f.text_field :name, autofocus: true, id:"inputName" %>
  
          <div class="form-group">
            <%= f.label :profile_image, "Image" %>
            <%= f.attachment_field :profile_image, class: "w-100" %>
          </div>
          <div class="form-group">
            <%= f.label :introduction, "Introduction" %>
            <%= f.text_field :introduction, autofocus: true, id:"user_introduction" %>
            <!----以下は上の以前のコード>
            <!--<textarea class="form-control introduction" name="user[introduction]" id="user_introduction"></textarea>-->
          </div>
          <div class="form-group">
              <%= f.submit "Update User" %>
            <!--<input type="submit" name="commit" value="Update User" class="btn btn-secondary" data-disable-with="Update User">-->
  
          </div>
        </form>
        <% end %>
      </div>
</div>
</div>